name: image-build

on:
  push:
    branches: [ master ]
    paths:
    - 'docker/*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Build and push Docker images
      uses: docker/build-push-action@v1.1.0
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        path: docker
        repository: bekdev24/myapp
        tag_with_ref: true
        tag_with_sha: true